/* Reset box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Reset default appearance */
  textarea,
  select,
  input,
  progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }