---
title: Forms
description: Represents a document section containing interactive controls for submitting information.
layout: elements
css: /assets/css/version2/simple.css
tags: typography
---
<ul>
  {% for nav in collections.typography reversed %}
    <li {% if page.url == nav.url %}aria-current="page"{% endif %}>
      <a href="{{ nav.url }}">{{ nav.data.title }}</a>
    </li>
  {% endfor %}
</ul>