---
title: Input fields
description: Used to create interactive controls for web-based forms in order to accept data from the user.
layout: elements
css: version2/simple.css
tags: typography
---
{% layout "article.liquid" %}
{% block %}
<form>
  <fieldset id="forms__input">
    <legend>Input fields</legend>
    <p>
      <label for="input__text">Text Input</label>
      <input id="input__text" type="text" placeholder="Text Input">
    </p>
    <p>
      <label for="input__password">Password</label>
      <input id="input__password" type="password" placeholder="Type your Password">
    </p>
    <p>
      <label for="input__webaddress">Web Address</label>
      <input id="input__webaddress" type="url" placeholder="https://yoursite.com">
    </p>
    <p>
      <label for="input__emailaddress">Email Address</label>
      <input id="input__emailaddress" type="email" placeholder="name@email.com">
    </p>
    <p>
      <label for="input__phone">Phone Number</label>
      <input id="input__phone" type="tel" placeholder="(999) 999-9999">
    </p>
    <p>
      <label for="input__search">Search</label>
      <input id="input__search" type="search" placeholder="Enter Search Term">
    </p>
    <p>
      <label for="input__text2">Number Input</label>
      <input id="input__text2" type="number" placeholder="Enter a Number">
    </p>
    <p>
      <label for="input__file">File Input</label>
      <input id="input__file" type="file">
    </p>
  </fieldset>
  </form>
{% endblock %}