<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/{{css}}">
</head>

<body>
    {% include 'header-freecodecamp' %}
    <main>
        {{content}}
    </main>
    {% include 'footer' %}
</body>

</html>