  
  article, fieldset, dialog {
    border: 1px solid var(--border);
    padding: 1rem;
    border-radius: var(--standard-border-radius);
    margin-bottom: 1rem;
  }
  
  article h2:first-child,
  section h2:first-child {
    margin-top: 1rem;
  }

    /* Classes for notices */
    .notice {
      background: var(--accent-bg);
      border: 2px solid var(--border);
      border-radius: 5px;
      padding: 1.5rem;
      margin: 2rem 0;
    }