---
title: Sidebar
description: Layout Difficulty Level-3 – How to Build a Sidebar Layout
idName: level3
---

<div class="container">
  <div class="block-1"> Left </div>
  <div class="block-2"> Right </div>
</div>