  /* Format tables */
  table {
    border-collapse: collapse;
    margin: 1.5rem 0;
  }
  
  td,
  th {
    border: 1px solid var(--border);
    text-align: start;
    padding: 0.5rem;
  }
  
  th {
    background-color: var(--accent-bg);
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    /* Set every other cell slightly darker. Improves readability. */
    background-color: var(--accent-bg);
  }
  
  table caption {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
