---
title: Test page
layout: base-v1
tags: version1
css: /assets/css/version1/simple-colors.css
---
<aside>
    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
            <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
        </ul>
    </nav>
</aside>
<main>
    <p>Sorry, but the page you were trying to view does not exist.</p>
    <p>It looks like this was the result of either:</p>
    <ul>
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
    </ul>
</main>