/* Consolidate box styling */
  aside, details, pre, progress {
    background-color: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: var(--standard-border-radius);
    margin-bottom: 1rem;
  }
  
  aside {
    font-size: 1rem;
    width: 30%;
    padding: 0 15px;
    margin-inline-start: 15px;
    float: right;
  }
  *[dir="rtl"] aside {
    float: left;
  }
  
  /* Make aside full-width on mobile */
  @media only screen and (max-width: 720px) {
    aside {
      width: 100%;
      float: none;
      margin-inline-start: 0;
    }
  }
