<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/dark-mode/{{ css }}">
    <title>Dark Theme Toggler CSS</title>
  </head>
  <body>
    {% include 'dark-mode/header' %}
    {{ content }}
    <script src="/assets/js/script.js"></script>
  </body>
</html>