---
title: Dark mode v1
layout: dark-mode/base1
css: dark-mode1.css
tags: dark-mode
date: 2023-09-02
---
<div class="container">
  <h1>{{ title }}</h1>
  <div class="toggle-container">
    <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
  </div>
  <p>Section partners with university students in Computer 
    Science related fields of study to research and write about topics that are relevant to 
                    engineers in the modern technology landscape. You can find more information and program 
                    guidelines in the GitHub repository. If you're currently enrolled in a Computer Science 
                    related field of study and are interested in participating in the program,
                    please complete the registration form by clciking this link,
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTbj3kqvEJEb5RLjqJurfbHa8ckzQx0CjRzaizblue9ZOK5A/viewform">Join Section</a>
    or check out section on Github
    <a href="https://docs.google.com">Section</a>
  </p>
  <p>
    <a href="/new2">Second page</a>
  </p>
</div>