---
title: Dark mode v3
layout: dark-mode/base
css: /assets/css/dark-mode/dark-mode3.css
javascript: /assets/js/script3.js
tags: dark-mode
date: 2023-09-04
---

<article>
  <p>This is an article</p>
  <p>Section partners with university students in Computer Science related fields of study to research and write about topics that are relevant to engineers in the modern technology landscape. You can find more information and program 
    guidelines in the GitHub repository. If you're currently enrolled in a Computer Science 
            related field of study and are interested in participating in the program,
            please complete the registration form by clciking this link,
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTbj3kqvEJEb5RLjqJurfbHa8ckzQx0CjRzaizblue9ZOK5A/viewform">Join Section</a>
    or check out section on Github.</p>
  <p>
    <a href="https://lukelowrey.com/css-variable-theme-switcher/">The simplest CSS variable dark mode theme</a>
  </p>
</article>