---
title: Dark Mode
layout: dark-mode/base
css: simple.css
tags:
  - primary
  - dark-mode
date: 2023-09-01
---
<aside>
  <p>This is an aside</p>
</aside>
<p>lorem ipsum</p>
<button>Button</button>
<article>
  <p>This is an article</p>
  <p>Some text</p>
</article>