<article>
  <header>
    <h1>{{ title }}</h1>
    <h2>{{ description }}</h2>
  </header>
  {% block %}{% endblock %}
  <footer>
    <p><small>This was the {{ title }} presentation.</small></p>
  </footer>
</article>  