<footer class="container">
    <small>&copy; {{ "now" | date: "%Y" }} Built with <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://shopify.github.io/liquid/">Liquid</a> & <a href="https://picocss.com">Pico.css</a> by <a href="{{site.authorUrl}}">Michel Maillard</a></small>
</footer>