<header role="banner">
    <a href="#">Home</a>
    <input type="checkbox" id="side-menu">
    <label for="side-menu"><span></span></label>
    <nav aria-label="Main">
        <ul>
            {% for nav in collections.primary reversed %}
            <li{% if page.url==nav.url %} aria-current="page" {% endif %}><a href="{{ nav.url }}">{{ nav.data.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
