<footer>
  <small>&copy; {{ "now" | date: "%Y" }} Built with
    <a href="https://www.11ty.dev/">Eleventy</a>,
    <a href="https://liquidjs.com/">LiquidJS</a> &
    <a href="https://simplecss.org/">Simple.css</a> by
    <a href="{{site.authorUrl}}">{{ site.authorName }}</a>.</small>
</footer>